#basic
.vscode
*.pdf
*.doc
*.docx
*.rar
*.txt
!CMakeLists.txt
*.html
*.jpg
*.chm
*.log
*.zip
*.xml
tmp
tmp*
test*
GPATH
GRTAGS
GTAGS*
.cache

*.o
*.out
*.d
main
tmp
!compile_flags.txt

build
build*
.xmake
core

bin


#######################qt###########################
Debug
Release

CMakeLists.txt.user
# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*
